---
# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

# This template creates steps for job that runs a nox session

parameters:
  - name: sessions
    type: string

steps:
  - checkout: self
    fetchDepth: $(fetchDepth)
  - bash: pip install $(noxSource)
    displayName: Install nox and antsibull-nox
  - bash: .azure-pipelines/scripts/setup-nox.sh "${{ parameters.sessions }}"
    displayName: Setup nox environments
  - bash: .azure-pipelines/scripts/run-nox.sh "${{ parameters.sessions }}"
    displayName: Run nox
  - bash: .azure-pipelines/scripts/process-results.sh
    condition: succeededOrFailed()
    displayName: Process Results
  - bash: .azure-pipelines/scripts/aggregate-coverage.sh "$(Agent.TempDirectory)"
    condition: eq(variables.haveCoverageData, 'true')
    displayName: Aggregate Coverage Data
  - task: PublishTestResults@2
    condition: eq(variables.haveTestResults, 'true')
    inputs:
      testResultsFiles: "$(outputPath)/junit/*.xml"
    displayName: Publish Test Results
  - task: PublishPipelineArtifact@1
    condition: eq(variables.haveBotResults, 'true')
    displayName: Publish Bot Results
    inputs:
      targetPath: "$(outputPath)/bot/"
      artifactName: "Bot $(System.JobAttempt) $(System.StageDisplayName) $(System.JobDisplayName)"
  - task: PublishPipelineArtifact@1
    condition: eq(variables.haveCoverageData, 'true')
    displayName: Publish Coverage Data
    inputs:
      targetPath: "$(Agent.TempDirectory)/coverage/"
      artifactName: "Coverage $(System.JobAttempt) $(System.StageDisplayName) $(System.JobDisplayName)"
