trigger:
  batch: true
  branches:
    include:
      - main
      - stable-*

pr:
  autoCancel: true
  branches:
    include:
      - main
      - stable-*

schedules:
  - cron: 0 9 * * *
    displayName: Nightly
    always: true
    branches:
      include:
        - main
  - cron: 0 12 * * 0
    displayName: Weekly (old stable branches)
    always: true
    branches:
      include:
        - stable-2

variables:
  - name: checkoutPath
    value: ansible_collections/community/docker
  - name: coverageBranches
    value: main
  - name: pipelinesCoverage
    value: coverage
  - name: entryPoint
    value: tests/utils/shippable/shippable.sh
  - name: fetchDepth
    value: 0

resources:
  containers:
    - container: default
      image: quay.io/ansible/azure-pipelines-test-container:3.0.0

pool: Standard

stages:

### Sanity & units
  - stage: Ansible_2_14
    displayName: Sanity & Units 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.14/sanity/1'
            - name: Sanity Extra # Only on 2.14
              test: '2.14/sanity/extra'
            - name: Units
              test: '2.14/units/1'
  - stage: Ansible_2_13
    displayName: Sanity & Units 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.13/sanity/1'
            - name: Units
              test: '2.13/units/1'
  - stage: Ansible_2_12
    displayName: Sanity & Units 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.12/sanity/1'
            - name: Units
              test: '2.12/units/1'

### Docker
  - stage: Docker_2_14
    displayName: Docker 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.14/linux/{0}
          targets:
            - name: CentOS 7
              test: centos7
            - name: Fedora 36
              test: fedora36
            - name: openSUSE 15
              test: opensuse15
            - name: Ubuntu 20.04
              test: ubuntu2004
            - name: Ubuntu 22.04
              test: ubuntu2204
            - name: Alpine 3
              test: alpine3
          groups:
            - 4
            - 5
  - stage: Docker_2_13
    displayName: Docker 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.13/linux/{0}
          targets:
            - name: CentOS 7
              test: centos7
            - name: Fedora 35
              test: fedora35
            - name: openSUSE 15 py2
              test: opensuse15py2
            - name: Alpine 3
              test: alpine3
          groups:
            - 4
            - 5
  - stage: Docker_2_12
    displayName: Docker 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.12/linux/{0}
          targets:
            - name: CentOS 8
              test: centos8
            - name: Fedora 34
              test: fedora34
            - name: Ubuntu 18.04
              test: ubuntu1804
          groups:
            - 4
            - 5

### Community Docker
  - stage: Docker_community_2_14
    displayName: Docker (community images) 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.14/linux-community/{0}
          targets:
            - name: Debian Bullseye
              test: debian-bullseye/3.9
            - name: ArchLinux
              test: archlinux/3.11
            - name: CentOS Stream 8
              test: centos-stream8/3.9
          groups:
            - 4
            - 5

### Remote
  - stage: Remote_2_14
    displayName: Remote 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: RHEL {0}
          testFormat: 2.14/rhel/{0}
          targets:
            - test: '7.9'
            - test: '9.0-pypi-latest'
          groups:
            - 1
            - 2
            - 3
            - 4
            - 5
  - stage: Remote_2_13
    displayName: Remote 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: RHEL {0}
          testFormat: 2.13/rhel/{0}
          targets:
            - test: '8.5'
          groups:
            - 1
            - 2
            - 3
            - 4
            - 5
  - stage: Remote_2_12
    displayName: Remote 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: RHEL {0}
          testFormat: 2.12/rhel/{0}
          targets:
            - test: '8.4'
          groups:
            - 1
            - 2
            - 3
            - 4
            - 5

  ## Finally

  - stage: Summary
    condition: succeededOrFailed()
    dependsOn:
      - Ansible_2_14
      - Ansible_2_13
      - Ansible_2_12
      - Remote_2_14
      - Remote_2_13
      - Remote_2_12
      - Docker_2_14
      - Docker_2_13
      - Docker_2_12
      - Docker_community_2_14
    jobs:
      - template: templates/coverage.yml
