---
# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

trigger:
  batch: true
  branches:
    include:
      - main
      - stable-*

pr:
  autoCancel: true
  branches:
    include:
      - main
      - stable-*

schedules:
  - cron: 0 9 * * *
    displayName: Nightly
    always: true
    branches:
      include:
        - main
  - cron: 0 12 * * 0
    displayName: Weekly (old stable branches)
    always: true
    branches:
      include:
        - stable-4

variables:
  - name: coverageBranches
    value: main
  - name: entryPoint
    value: .azure-pipelines/scripts/run-nox.sh
  - name: fetchDepth
    value: 0

resources:
  containers:
    - container: default
      image: quay.io/ansible/azure-pipelines-test-container:7.0.0

pool: Standard

stages:

  - stage: nox
    displayName: Run extra sanity tests
    jobs:
      - template: templates/run-nox.yml
        parameters:
          jobs:
            - job: extra_sanity
              name: Extra sanity tests
              sessions: ""

#  - stage: create-matrixes
#    displayName: Create matrixes
#    jobs:
#      - job: A
#        steps:
#          - task: Bash@3
#            inputs:
#              filePath: 'script-a.sh'
#            name: setvar
#          - bash: |
#              echo "##vso[task.setVariable variable=legs;isOutput=true]{'a':{'myvar':'A'}, 'b':{'myvar':'B'}}"
#            name: mtrx

#  - stage: sanity
#    displayName: Sanity tests
#    dependsOn: create-matrixes
#      - job: runner
#        dependsOn: generator
#        strategy:
#          matrix: $[ stageDependencies.create-matrixes.A.outputs['mtrx.legs'] ]
#        steps:
#          - script: echo $(myvar) # echos A or B depending on which leg is running
